:root {
    font-size: medium;
}

.navLogo {
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-size: 3em;
    font-weight: 500;
    transition-duration: 0.1s;
}

#A {
    color: rgb(150, 56, 56);
    text-decoration: none;
    font-size: 3em;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(150, 56, 56);
    transition-duration: 0.1s;
}

a:hover {
    color: rgb(175, 87, 87);
}

.nav-link {
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-size: large;
    text-align: right;
    font-weight: 600;
    position: relative;
    top: 1em;
}

.nav-link:hover {
    color: rgb(170, 170, 170);
}

button {
    border: none;
    border-radius: 50px;
}

.form-button {
    color: rgb(202, 202, 202);
    background-color: rgb(150, 56, 56);
    font-weight: 500;
    width: 14em;
    height: 3em;
}

.form-button:hover {
    background-color: rgb(161, 69, 69);
    color: rgb(212, 212, 212);
}

.start-button {
    position: relative;
    top: 4em;
    border-radius: 10px;
    height: 5em;
    width: 16em;
    border: none;
    text-decoration: none;
    background-color: rgb(150, 56, 56);
    color: rgb(202, 202, 202);
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.1s;
}
.start-button:hover {
    background-color: rgb(161, 69, 69);
    color: rgb(212, 212, 212);
}


body {
    background-color: rgb(87, 96, 99);
    background-image: linear-gradient(rgb(87, 96, 99), rgb(24, 24, 24));
    font-size: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 6em;
    padding-top: 1.5em;
    color: rgb(202, 202, 202);
}

h2 {
    font-size: 1.5em;
    padding-top: 1em;
    width: 22em;
    position: relative;
    left: 29em;
    color: rgb(202, 202, 202);
}

p {
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(165, 165, 165);
}


.line {
    position: relative;
    bottom: 1em;
}

.message {
    position: relative;
    bottom: 1em;
}

.grid_container {
    display: grid;
    grid-template-columns: 60% 33% 7%;
    padding-left: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 6em;
}

.inputlog {
    border: none;
    border-bottom: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding-top: 1em;
    width: 20em;
    margin: 2em;
    margin-bottom: 2em;
    background: none;
    text-align: left;
    font-weight: 400;
    font-size: 1.1em;
    color: rgb(165, 165, 165);
    outline: none;
    transition-duration: 0.1s;
}

.inputlog:focus {
    border-bottom: 3px solid rgb(212, 212, 212);
    color: rgb(212, 212, 212);
    font-weight: 600;
    font-size: 1.2em;
}

.sml-txt {
    position: relative;
    top: 2em;
    color: rgb(138, 138, 138);
}

.grid-container-index {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: auto auto;
    gap: 0.3em;
}

.grid-container-index > div {
    background-color: rgba(212, 212, 212, 0.178);
}


.collapse-menu {
    padding: 0;
    align-items: left;
    grid-row: 1 / 3;
}

.collapse-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapse-menu-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 1rem;
}

.collapse-button {
    width: 2rem;
    height: 2rem;
}

input#menu {
    display: none;
}

/* Toggle Effect */
input:checked ~ .collapse-menu-content {
    max-height: 100%;
    grid-template-columns: auto auto;
}

table {
    font-size: 1.5em;
}