:root {
    font-size: medium;
}
/* Default styles -----------------------------------------------------------------*/
a {
    text-decoration: none;
    color: rgb(150, 56, 56);
    transition-duration: 0.1s;
}

a:hover {
    color: rgb(175, 87, 87);
}

button {
    border: none;
    border-radius: 50px;
}

body {
    background-color: rgb(87, 96, 99);
    background-image: linear-gradient(rgb(87, 96, 99), rgb(24, 24, 24));
    font-size: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 6em;
    padding-top: 1.5em;
    color: rgb(202, 202, 202);
}

h2 {
    font-size: 1.5em;
    padding-top: 1em;
    width: 22em;
    position: relative;
    left: 29em;
    color: rgb(202, 202, 202);
}

p {
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(165, 165, 165);
}


table {
    width: 100%;
    text-align: center;
}

th, td {
    border-bottom: 1px solid rgba(212, 212, 212, 0.205);
}

th {
    color: rgb(184, 184, 184);
}
/* Default styles END -----------------------------------------------------------------*/



/* Class styles -----------------------------------------------------------------------*/
.navLogo {
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-size: 3em;
    font-weight: 500;
    transition-duration: 0.1s;
}

.nav-link {
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-size: large;
    text-align: right;
    font-weight: 600;
    position: relative;
    top: 1em;
}

.nav-link2 {
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-size: large;
    text-align: left;
    font-weight: 600;
    position: relative;
    top: 1em;
}

.dropdown {
    position: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1.3rem;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    background-color: rgb(61, 66, 68);
    border-radius: 5px;

  }

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-link:hover {
    color: rgb(170, 170, 170);
}

.nav-link2:hover {
    color: rgb(170, 170, 170);
}

.form-button {
    color: rgb(202, 202, 202);
    background-color: rgb(150, 56, 56);
    font-weight: 500;
    width: 14em;
    height: 3em;
}

.form-button:hover {
    background-color: rgb(161, 69, 69);
    color: rgb(212, 212, 212);
}

.start-button {
    position: relative;
    top: 4em;
    border-radius: 10px;
    height: 5em;
    width: 16em;
    border: none;
    text-decoration: none;
    background-color: rgb(150, 56, 56);
    color: rgb(202, 202, 202);
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.1s;
}
.start-button:hover {
    background-color: rgb(161, 69, 69);
    color: rgb(212, 212, 212);
}

.line {
    position: relative;
    bottom: 1em;
}

.message {
    position: relative;
    bottom: 1em;
}

.grid_container {
    display: grid;
    grid-template-columns: 60% 33% 7%;
    padding-left: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 6em;
}

.grid_container2 {
    display: grid;
    grid-template-columns: 15% 15% 50% 10% 10%;
    padding-left: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 6em;
}

.inputlog {
    border: none;
    border-bottom: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding-top: 1em;
    width: 20em;
    margin: 2em;
    margin-bottom: 2em;
    background: none;
    text-align: left;
    font-weight: 400;
    font-size: 1.1em;
    color: rgb(165, 165, 165);
    outline: none;
    transition-duration: 0.1s;
}

.inputlog:focus {
    border-bottom: 3px solid rgb(212, 212, 212);
    color: rgb(212, 212, 212);
    font-weight: 600;
    font-size: 1.2em;
}

.sml-txt {
    position: relative;
    top: 2em;
    color: rgb(138, 138, 138);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}


/* Class styles END -------------------------------------------------------------------*/



/* ID styles --------------------------------------------------------------------------*/
#A {
    color: rgb(150, 56, 56);
    text-decoration: none;
    font-size: 3em;
    font-weight: 500;
}

#menu-index {
    flex: 1;
    color: white;
    padding: 1rem;
}

#menu-index p {
    margin-top: 0;
}

#menu-index button {
    margin-bottom: 10px;
    display: block;
    background-color: rgb(150, 56, 56);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition-duration: 0.1s;
}

#menu-index button:hover {
    background-color: rgba(150, 56, 56, 0.904);
}

#content {
    flex: 5;
    padding: 1rem;
}

/* ID styles END ----------------------------------------------------------------------*/