{% extends "layout.html" %}

{% block title %} 
    Main Page
{% endblock %}

{% block main %}
  <div class="flex-container">
    <div id="menu-index">
      <form action="/add_subject" method="get">
        <button>Add Subject</button>
      </form>
      <form action="/add_division" method="get">
        <button>Add Division</button>
      </form>
      <form action="/index" method="post">
        <button>Remove Subject</button>
      </form>
      <form>
        <button>Remove Division</button>
      </form>
    </div>
    <div id="content">
      <table>
        <thead>
          <tr>
            <th>SUBJECT</th>
            {% for division in div2 %}
              <th>{{ division.division }}</th>
            {% endfor %}
            <th>Overall Sb</th>
          </tr>
        </thead>
        <tbody>
          {% for subject in subjects %}
            <tr>
              <td>{{ subject.subject }}</td>
              {% for division in divisions %}
                {% if division.suject_id == subject.id %}
                    {% for grade in grades %}
                      {% if grade.division_id == division.id %}
                      <td>{{ grade.grade }}</td>
                      {% endif %}
                    {% endfor %}
                {% endif %}
              {% endfor %}
              <td> <!-- Calculate and display overall subject grade here --> </td>
            </tr>
          {% endfor %}
          <tr>
            <th>Overall Div</th>
          </tr>
        </tbody>
      </table>
      <!-- Add your overall grade calculation and result display here using Flask -->
    </div>
  </div>
{% endblock %}