{% extends "layout.html" %}

{% block title %} 
    Login
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div>
            <input autocmplete="off" autofocus id="username" name="username" placeholder="Username" type="text" required maxlength="20">
        </div>
        <div>
            <input autocomplete="off" id="password" name="password" placeholder="Password" type="password" required maxlength="20">
        </div>
        </div>
            <span id="message" style="color: red;"> {{ error }} </span>
        <div>
        <div>
            <button type="submit" id="validation">Login</button>
        </div>
    </form>
{% endblock %}