{% extends "layout.html" %}

{% block title %} 
    Login
{% endblock %}

{% block main %}
    <p>Please create an account to save your data</p>
    <p class="line">----------------------------------------------</p>
    <form action="/register" method="post">
        <div>
            <input class="inputlog" autocmplete="off" autofocus id="username" name="username" placeholder="Username" type="text" required maxlength="20">
        </div>
        <div>
            <input class="inputlog" autocomplete="off" id="password" name="password" placeholder="Password" type="password" required maxlength="20">
        </div>
        <div>
            <input class="inputlog" autocomplete="off" id="confirm_password" name="confirm_password" placeholder="Confirm password" type="password" required maxlength="20">
        </div>
        <span class="message" id="message" style="color: red;"> {{ error }} </span>
        <div>
           <button class="form-button" type="submit" id="validation">Register</button>
        </div>
    </form>
    <span class="sml-txt">You alredy have an account? <a href="/login">Login</a>!</span>
{% endblock %}