{% extends "layout.html" %}

{% block title %} 
    Login
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div>
            <input autocmplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input autocomplete="off" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input autocomplete="off" id="confirm" name="confirm" placeholder="Confirm password" type="password">
        </div>
    </form>
{% endblock %}